body {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
   
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.7rem;
    color: hsl(0, 0%, 95%)
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1rem;
    letter-spacing: 2px;
}

.main-container {
    display: flex;
    margin: 0 auto;
    padding: 14rem 10rem 11.25rem 10rem;
    height: 34.375rem;
    width: 68.75rem;
  
    
}

.main-container div {
    padding: 60px;
}

button:hover {
    color: white;
    border:  2px solid white;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 0.625rem 0 0 0.625rem;
    position: relative;
}

.sedans button:hover {
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
    position: relative;
}

.suvs button:hover {
    background-color: hsl(184, 100%, 22%);    
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
    position: relative;
}

.luxury button:hover {
    background-color: hsl(179, 100%, 13%);
}

button {
    position: absolute;
    bottom: 50px;
    left: 60px;
    padding: 17px 40px;
    border: none;
    border-radius: 30px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: hsl(31, 77%, 52%);
}

img {
    width: 4.375rem;
}